@{
    Layout = null;
    string title = ViewBag.Title != null ? ViewBag.Title : "Quadratic Equation";
}

<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>@title</title>
</head>
<body>
@RenderBody()
</body>
</html>