@{
    Layout = "_Layout";
}

<link rel="stylesheet" href="/res/css/index.css">
<h1 class="centered">Quadratic Equation</h1>
<main class="centered" style="">
    <partial name="StandardForm"></partial>
    <partial name="VertexForm"></partial>
    <partial name="FactoredForm"></partial>
</main>